.notes-container {
  background-color: #e9fff9;
  height: 80vw;
}

.notes-title {
  margin-top: 0;
}

.note {
  text-decoration: none;
  color: black;
}

.note-box {
  display: grid;
  justify-content: center;
}
