.notes-add-container {
  background-color: #001524;
  height: 75vw;
}

.create-note-form {
  display: grid;
  max-width: 25vw;
  margin-left: 35vw;
}

.add-note-title {
  color: white;
  margin-top: 0;
}
