.footer-container {
  display: flex;
  background-color: #e37674;
  width: 100vw;
  height: 8vw;
  box-shadow: 0px 0px 5px 5px #467599;
  margin-top: 0;
  margin-bottom: 0;
}

.github-logo {
  max-width: 10vw;
  max-height: 10vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

.linkedin-logo {
  max-width: 10vw;
  max-height: 10vh;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 2vh;
}

.social-a {
  display: grid;
  margin: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 500px) {
  .linkedin-logo {
    margin-top: 0;
    padding-top: 0;
  }

  .github-logo {
    margin-bottom: 3vh;
  }
}
