.footer-container {
  display: flex;
  background-color: #d64045;
  width: 100vw;
  height: 8vw;
  box-shadow: 0px 0px 5px 5px #467599;
  margin-top: 5vh;
}

.h3 {
  margin: 0 auto;
}

.github-logo {
  max-width: 10vw;
  max-height: 10vh;
}

.linkedin-logo {
  max-width: 10vw;
  max-height: 10vh;
}

.social-a {
  display: grid;
  margin: 15px;
}
